body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 96px;
}

#dealer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dealerHand {
    display: inline-flex;
    font-size: var(--card-size);
    height: var(--cardbox-size);

    justify-content: center;
    align-items: center;
}

#players {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: column;

    justify-content: center;
    align-items: center;
    gap: 48px;
}
.player {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, max-content);
    gap: 10px;

    border-radius: 16px;
    border-color: darkgray;
    border-width: 4px;
    border-style: solid;

    padding: 10px;
}

.player-active {
    border-color: mediumpurple;
}

.player-loose {
    border-color: red;
}

.player-hand {
    font-size: var(--card-size);
    height: var(--cardbox-size);
}

.bet:hover {
    cursor: pointer;
}

.bet, .credit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--normal-p-height);
}

.player-name {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.buttons, .coins {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
}

.button, .coin {
    display: flex;
    background-color: lightgray;
    border-radius: 8px;
    width: 64px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.button:hover, .coin:hover {
    background-color: gray;
    cursor: pointer;
}

mark {
    background-color: transparent;
}

.black {
    color: black;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.size-value {
    font-size: 30px;
}

.config {
    --card-size: 75px;
    --cardbox-size: 80px;

    --normal-p-height: 20px;
}



